.includes{
    background-color: #1A1A1A;
    padding: 65px 0 80px;
    background-image: url('../../../images/bg.png');
    background-position: center -100px;
    background-repeat: repeat;
}
.title{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 106px;
    color: #FFFFFF;
}
.descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 490px;
    margin-bottom: 46px;
}
.gridWrapper{
    display: grid;
    grid-template-columns: 850px 410px;
    grid-template-rows: 113px 113px 113px;
    grid-gap: 30px;
}
.gridItem:last-child{
    grid-column: 2/3;
    grid-row: 1/4;
}
.white{
    background: #fff;
}
.blue{
    background-color: #1E4FCD;
}
.gridItem{
    padding: 14px 0 0 33px;
    overflow: hidden;
    position: relative;
}
.subtitle{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.subtitleWhite{
    color: #FFFFFF;
}
.subtitleBlack{
    color: #1A1A1A;
}
.gridDescr{
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    max-width: 428px;
}
.gridDescrWhite{
    color: #fff;
}
.gridDescrBlack{
    color: #1a1a1a;
}

.arrows{
    display: block;
    position: absolute;
    right: -41px;
    top: -46px;
}
.arrows2{
    display: block;
    position: absolute;
    right: 70px;
    top: -30px;
}
.dollar{
    display: block;
    position: absolute;
    right: 40px;
    top: -42px;
}
.eye{
    display: block;
    position: absolute;
    right: -65px;
    bottom: -33px;
}

/*ADAPTIVE*/

@media (max-width: 1347px){
    .gridWrapper{
        grid-template-columns: 770px 300px;
        grid-template-rows: 113px 113px 113px;
        grid-gap: 10px;
        justify-content: center;
    }
    .gridItem{
        padding: 14px 14px 14px 33px;
    }
}
@media (max-width: 1125px){
    .gridWrapper{
        grid-template-columns: 740px 300px;
    }
    .arrows{
        right: -96px;
    }
    .arrows2{
        right: 20px;
    }
    .dollar{
        right: -20px;
    }
}
@media (max-width: 1085px){
    .gridWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 113px 113px 113px 113px;
        grid-gap: 30px;
    }
    .gridItem:last-child{
        grid-column: auto;
        grid-row: auto;
    }
    .arrows{
        right: 0;
    }
    .arrows2{
        right: 90px;
    }
    .dollar{
        right: 65px;
    }
    .eye{
        right: -5px;
        bottom: -47px;
    }
}

@media (max-width: 992px){
    .title{
        font-size: 80px;
        line-height: 96px;
    }
    .arrows{
        width: 321px;
        top: unset;
        bottom: -52px;
        right: -32px;
    }
    .arrows2{
        width: 230px;
        right: 5px;
        top: -24px;
    }
    .dollar{
        width: 244px;
        right: 12px;
        top: -27px;
    }
    .eye{
        width: 221px;
        top: 8px;
        right: 13px;
    }
}

@media (max-width: 715px){
    .subtitle{
        font-size: 22px;
        line-height: 26px;
    }
    .gridDescr{
        font-size: 14px;
        line-height: 21px;
        max-width: 300px;
    }
}

@media (max-width: 580px){
    .title{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 17px;
    }
    .descr{
        font-size: 14px;
        line-height: 150%;
        max-width: none;
    }
    .gridItem{
        padding: 12px;
    }
    .gridWrapper{
        grid-template-rows: 165px 165px 165px 165px;
    }
    .arrows{
        width: 207px;
        right: -19px;
        bottom: -39px;
    }
    .arrows2{
        width: 120px;
        right: 36px;
        top: unset;
        bottom: -27px;
    }
    .dollar{
        width: 153px;
        right: 17px;
        top: unset;
        bottom: -30px;
    }
    .eye{
        width: 140px;
        right: 34px;
        top: unset;
        bottom: -20px;
    }
}
