.includes{
    background-color: #1A1A1A;
    padding: 65px 0 80px;
    background-image: url('../../../images/bg.png');
    background-position: center -100px;
    background-repeat: repeat;
}
.title{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 106px;
    color: #FFFFFF;
}
.descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 678px;
    margin-bottom: 46px;
}
.gridWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: minmax(410px, auto);
    grid-gap: 30px;
}


.white{
    background: #fff;
}
.blue{
    background-color: #1E4FCD;
}
.gridItem{
    padding: 14px 0 0 33px;
    overflow: hidden;
    position: relative;
}
.subtitle{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.subtitleWhite{
    color: #FFFFFF;
}
.subtitleBlack{
    color: #1A1A1A;
}
.gridDescr{
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    max-width: 319px;
}
.gridDescrShort{
    max-width: 307px;
}
.gridDescrWhite{
    color: #fff;
}
.gridDescrBlack{
    color: #1a1a1a;
}
.gridDescrLong{
    max-width: 570px;
}
.input{
    display: block;
    position: absolute;
    right: -6px;
    bottom: 20px;
}
.pig{
    display: block;
    position: absolute;
    right: 31px;
    bottom: 0;
}
.calc{
    display: block;
    position: absolute;
    right: 31px;
    bottom: -16px;
}

/*ADAPTIVE*/

@media (max-width: 1150px){
    .title{
        font-size: 80px;
        line-height: 96px;
        margin-bottom: 8px;
    }

    .descr{
        font-size: 18px;
        line-height: 150%;
        max-width: 650px;
    }
    .gridDescr.gridDescrWhite{
        max-width: 415px;
    }
    .gridWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 113px;
        grid-auto-rows: 113px;
        grid-gap: 30px;
    }
    .gridDescr{
        max-width: 580px;
    }
    .input{
        width: 142px;
        right: 13px;
        bottom: -2px;
    }
    .pig{
        width: 112px;
        right: 32px;
        bottom: -2px;
    }
    .calc{
        width: 121px;
        right: 15px;
        bottom: -5px;
    }
}

@media (max-width: 755px){
    .title{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 17px;
    }
    .descr{
        font-size: 14px;
        line-height: 150%;
    }
    .subtitle{
        font-size: 22px;
        line-height: 27px;
    }
    .gridDescr{
        font-size: 14px;
        line-height: 150%;
    }
    .gridDescr.gridDescrWhite{
        max-width: unset;
    }
    .gridWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 165px;
        grid-auto-rows: 165px;
        grid-gap: 20px;
    }
}

@media (max-width: 550px){
    .gridItem{
        padding: 12px;
    }
    .input{
        width: 76px;
        right: 28px;
        bottom: -2px;
    }
    .pig{
        width: 71px;
        right: 31px;
        bottom: -15px;
    }
    .calc{
        width: 72px;
        right: 21px;
        bottom: -11px;
    }
}
