.main{
    padding: 113px 0 0;
    height: 677px;
    position: relative;
    background-image: url('../../../images/bg.png');
    background-position: center -100px;
    background-repeat: repeat;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
    margin-bottom: 29px;
}
.subtitle{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    color: #1A1A1A;
    margin-bottom: 10px;
}
.descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    max-width: 481px;
    margin-bottom: 32px;
}
.bold{
    font-weight: 900;
}


.scroll{
    cursor: pointer;
    position: absolute;
    height: 60px;
    width: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    overflow: hidden;

}
.scrollOutside{
    height: 60px;
    width: 21px;
    border: 2px solid #1E4FCD;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.scroll:hover .scrollInner{
    transform: translateY(40px);

}
.scrollInner{
    position: absolute;
    left: 0px;
    top: -40px;
    height: 60px;
    width: 21px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 5px;
    z-index: 1;
    transition: .3s all;
}

.scrollCircle{
    width: 9px;
    height: 9px;
    background-color: #1E4FCD;
    border-radius: 100%;
}
.scrollText{
    position: absolute;
    right: -6px;
    bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1A1A1A;
    transform: rotate(-90deg);
    z-index: -1;
}

@media (max-width: 1170px) {
    .image{
        width: 550px;
    }
}

@media (max-width: 1100px) {
    .image{
        width: 450px;
    }
}
@media (max-width: 1024px){
    .main{
        height: 585px;
    }
}

@media (max-width: 991px) {
    .main{
        height: 585px;
        padding-top: 88px;
    }
    .scroll{
        display: none;
    }
    .title{
        margin-bottom: 13px;
        max-width: 204px;
        font-size: 18px;
        line-height: 27px;
    }
    .descr{
        line-height: 27px;
        max-width: 359px;
        margin-bottom: 60px;
    }
    .right{
        flex: 0 0 auto;
    }
}

@media (max-width: 760px) {
    .subtitle{
        font-size: 38px;
        line-height: 100%;
        margin-bottom: 15px;
    }
    .descr{
        font-size: 14px;
        line-height: 150%;
        max-width: 262px;
    }
    .image{
        width: 330px;
    }
}

@media (max-width: 700px) {
    .main{
        padding-top: 41px;
        height: 600px;
    }
    .wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }
    .right{
        margin-bottom: 26px;
    }
    .left{
        align-self: baseline;
    }
}

@media (max-width: 550px) {
    .image{
        width: 290px;
    }
    .descr{
        margin-bottom: 30px;
    }
}