.cases{
    padding: 84px 0 57px;
    background-color: #1a1a1a;
    overflow: hidden;
}
.title{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 106px;
    color: #FFFFFF;
    margin-bottom: 42px;
}
.navigateButtons{
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-bottom: 36px;
}
.sliderContainer{
    width: 100vw;
    margin: 0 auto;
}
.sliderWrapper{
    display: grid;
    grid-template-columns: 410px 410px;
    grid-template-rows: 231px 231px;
    grid-auto-flow: column;
    grid-auto-columns: 410px;
    gap: 10px;
}
.slideInner{
    background: url('../../../images/slideImg.jpg')center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.slideImgWrapper{
    width: 100%;
}
.sliderInnerText{
    max-width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #fff;
    font-size: 18px;
    line-height: 21px;
}
.sliderContainer{
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}