.main{
    padding: 113px 0 0;
    height: 677px;
    position: relative;
    background-image: url('../../../images/bg.png');
    background-position: center -100px;
    background-repeat: repeat;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: flex-start;
}
.left{
    margin-right: 25px;
}
.right{
    flex: 0 1 auto;
    margin-left: auto;
}
.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
    margin-bottom: 29px;
}
.subtitle{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    color: #1A1A1A;
    margin-bottom: 10px;
}
.descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    max-width: 481px;
}
.bold{
    font-weight: 900;
}
.btnWrapper{
    margin-top: 32px;
    display: flex;
    width: 353px;
    position: relative;
}
.pointFirst{
    width: 26px;
    height: 50%;
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    left: 0;
}
.pointSecond{
    width: 26px;
    height: 50%;
    background-color: #1a1a1a;
    position: absolute;
    bottom: 0;
    right: 0;
}
.points{
    width: 82px;
    position: relative;
}
.consultation{
    width: 271px;
    height: 52px;
    background: #1E4FCD;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: relative;
}



.scroll{
    cursor: pointer;
    position: absolute;
    height: 60px;
    width: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    overflow: hidden;
}
.scrollOutside{
    height: 60px;
    width: 21px;
    border: 2px solid #1E4FCD;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.scroll:hover .scrollInner{
    transform: translateY(40px);

}
.scrollInner{
    position: absolute;
    left: 0px;
    top: -40px;
    height: 60px;
    width: 21px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 5px;
    z-index: 1;
    transition: .3s all;
}

.scrollCircle{
    width: 9px;
    height: 9px;
    background-color: #1E4FCD;
    border-radius: 100%;
}
.scrollText{
    position: absolute;
    right: -6px;
    bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1A1A1A;
    transform: rotate(-90deg);
    z-index: -1;
}

/* ANIMATION */

@keyframes squareRotate {
    100%{
        transform: rotate(180deg);
    }
}

.animWrapper{
    position: relative;
}
.seoWrapper > span{
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 172px;
    line-height: 75%;
    display: block;
    color: #1A1A1A;
}
.blue{
    color: #1E4FCD !important;
}
.image{
    position: absolute;
    left: -20px;
    top: -70px;
    z-index: 3;
    animation: squareRotate 2s ease-in-out infinite;
}
.zMore{
    z-index: 5;
    position: relative;
}


/* ADAPTIVE */
@media (max-width: 1110px){
    .image{
        width: 350px;
    }
    .seoWrapper > span{
        font-size: 162px;
    }
}

@media (max-width: 1024px){
    .main{
        height: 585px;
    }
}
@media (max-width: 991px){
    .main{
        padding-top: 88px;
    }
    .scroll{
        display: none;
    }
    .image{
        width: 261px;
        top: -105px;
    }
    .seoWrapper > span{
        font-size: 115px;
    }
    .title{
        font-size: 18px;
        line-height: 27px;
        max-width: 204px;
        margin-bottom: 13px;
    }
    .descr{
        font-size: 18px;
        line-height: 150%;
    }
}

@media (max-width: 650px){
    .main{
        padding-top: 46px;
        height: 600px;
    }
    .wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }
    .right{
        margin: 0;
    }
    .image{
        width: 150px;
        margin: 0 0 30px;
        top: -141px;
        left: -8px;
    }
    .seoWrapper > span{
        font-size: 70px;
    }
    .subtitle{
        font-size: 38px;
        line-height: 100%;
        margin-bottom: 15px;
    }
    .descr{
        font-size: 18px;
        line-height: 150%;
        max-width: 262px;
    }
    .left{
        align-self: baseline;
        margin-top: 26px;
    }
    .consultation{
        width: 209px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
    }
    .btnWrapper{
        width: auto;
    }
    .pointFirst{
        width: 20px;
    }
    .pointSecond{
        width: 20px;
    }
    .points{
        width: 63px;
    }
}

@media (max-width: 450px){
    .image{
        width: 116px;
        top: -153px;
        left: -3px;
    }
    .seoWrapper > span{
        font-size: 53px;
    }
}