.stages{
    padding: 80px 0;
    background-image: url('../../../images/bg.png');
    background-position: center -100px;
    background-repeat: repeat;
}
.title{
    font-size: 88px;
    line-height: 106px;
    color: #1A1A1A;
}
.blue{
    color: #1E4FCD;
}
.black{
    color: #1A1A1A;
}
.descr{
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    margin-bottom: 44px;
    max-width: 490px;
}
.gridWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    column-gap: 27px;
    row-gap: 46px;
}
.flexWrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.content{
    max-width: 520px;
    flex-shrink: 1;
    position: relative;
}
.icon{
    height: 170px;
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    flex-shrink: 0;
    margin-right: 35px;
}
.subtitle{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #1A1A1A;
    margin: 64px 0 8px;
    position: relative;
}
.subtitle::before{
    content: '#';
    font-family: 'Russo One';
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #1A1A1A;
    position: absolute;
    left: -37px;
    top: -7px;
    z-index: 100;

}
.content::before{
    font-weight: 900;
    color: #fff;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    position: absolute;
    left: -20px;
    top: 15px;
    z-index: 10;
}
.gridItem{
    margin-left: 43px;
}
.gridItem:nth-child(1) .content::before{
    content: '1.';
}
.gridItem:nth-child(2) .content::before{
    content: '2.';
}
.gridItem:nth-child(3) .content::before{
    content: '3.';
}
.gridItem:nth-child(4) .content::before{
    content: '4.';
}
.gridItem:nth-child(5) .content::before{
    content: '5.';
}
.gridItem:nth-child(6) .content::before{
    content: '6.';
}
.subtitle::after{
    content: '';
    width: 56px;
    height: 56px;
    background: #1E4FCD;
    position: absolute;
    transform: rotate(-34.84deg);
    left: -33px;
    top: -51px;
}
.text{
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
}

/*ADAPTIVE*/

@media (max-width: 992px){
    .title{
        font-size: 80px;
        line-height: 96px;
    }
    .descr{
        font-size: 18px;
        line-height: 27px;
        max-width: 515px;
    }
    .gridWrapper{
        grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
        column-gap: 20px;
    }
    .subtitle{
        font-size: 22px;
        line-height: 26px;
    }
    .text{
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 670px) {
    .gridWrapper{
        row-gap: 20px;
    }
}

/*MOBILE*/

@media screen and (max-width: 500px){
    .blue{
        display: none;
    }
    .title{
        font-size: 60px;
        line-height: 100%;
        margin-bottom: 10px;
    }
    .descr{
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 20px;
    }
    .gridWrapper{
        row-gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .gridItem{
        margin-left: 25px;
    }
    .subtitle{
        font-size: 17px;
        line-height: 150%;
        margin-bottom: 0;
    }
    .text{
        font-size: 14px;
        line-height: 150%;
    }
    .content::before{
        font-size: 30px;
        line-height: 35px;
        left: -12px;
        top: 28px;
    }
    .subtitle::before{
        font-size: 25px;
        line-height: 150%;
        left: -25px;
        top: -10px;
    }
    .subtitle::after{
        width: 35px;
        height: 35px;
        left: -20px;
        top: -35px;
    }
}
