.prices{
    padding: 85px 0;
    background-color: #fff;
    background-image: url('../../../images/bg.png');
    background-position: center -100px;
    background-repeat: repeat;
}
.title{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 106px;
    color: #1A1A1A;
}
.gridWrapper{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: minmax(300px, auto);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 30px;
    justify-items: center;
}
.gridElement{
    padding: 25px 10px 33px 33px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.gridElement:last-child{
    padding: 25px 0 33px 33px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    justify-self: center;
    grid-column: 1/3;
    max-width: 630px;
    margin: 0 auto;
}
.black{
    background-color: #1A1A1A;
}
.blue{
    background-color: #1E4FCD;
}
.subtitle{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    text-transform: uppercase;
    color: #1E4FCD;
    margin-bottom: 3px;
    max-width: 530px;
}
.blue .subtitle{
    color: #fff;
}
.small{
    font-size: 60px;
    line-height: 72px;
}
.price{
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
    margin-bottom: 73px;
}
.blue .price{
    color: #1A1A1A;
}
.flexWrapper{
    display: flex;
}
.option{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: relative;
    padding-left: 23px;
}
.option::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 6px;
}
.option+.option{
    margin-top: 20px;
}
.google{
    position: absolute;
    right: -50px;
    top: -24px;
}
.yandex{
    position: absolute;
    right: 76px;
    top: -58px;
}
.rightOptions{
    margin-left: 44px;
}


@media (max-width: 1255px) {
    .gridWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(300px, auto);
        grid-auto-rows: minmax(300px, auto);
    }
    .gridElement:last-child{
        grid-column: unset;
        max-width: none;
    }
}

@media (max-width: 991px){
    .title{
        font-size: 80px;
        line-height: 96px;
    }
}

@media (max-width: 650px) {
    .gridWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 279px;
        grid-auto-rows: 279px;
    }
    .title{
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 30px;
    }
    .price{
        margin-bottom: 21px;
    }
    .subtitle{
        font-size: 22px;
        line-height: 27px;
    }
    .gridElement{
        padding: 12px;
    }
    .gridElement:last-child{
        padding: 12px;
    }
    .price{
        font-size: 18px;
        line-height: 150%;
    }
    .option{
        font-size: 14px;
        line-height: 16px;
    }
    .option + .option{
        margin-top: 10px;
    }
    .flexWrapper{
        flex-direction: column;
    }
    .rightOptions{
        margin: 10px 0 0 0;
    }
}


