.header{
    height: 63px;
    padding: 2px 0;
    box-shadow: 0px 7px 10px rgba(157, 157, 157, 0.3);
    z-index: 1000;
    background-color: #FFFFFF;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}
.headerActive{
    background-color: #1E4FCD;
    box-shadow: none;
}
.wrapper{
    display: flex;
    align-items: center;
}
.wrapperActive .itemLink, .wrapperActive .contactNumber{
    color: #fff;
}
.logoImg{
    width: 90px;
    margin-right: 46px;
    position: relative;
    z-index: 15;
}
.list{
    margin-right: 59px;
    display: flex;
    align-items: center;
}
.second{
    display: flex;
    flex-direction: column;
}
.listItem:first-child{
    padding-right: 32px;
}
.main{
    position: relative;
}
.main::before, .main::after{
    content: '';
    width: 25px;
    height: 11px;
    position: absolute;
    z-index: 100;
}
.main::before{
    background: url("../../images/topLine.svg")center center/cover no-repeat;
    right: 3px;
    top: 0;
}
.main::after{
    background: url("../../images/bottomLine.svg")center center/cover no-repeat;
    right: 3px;
    bottom: 0;

}
.mainActive.main::before{
    background: url("../../images/topLineWhite.svg")center center/cover no-repeat;
}
.mainActive.main::after{
    background: url("../../images/BottomLineWhite.svg")center center/cover no-repeat;
}
.itemLink{
    color: #1A1A1A;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    position: relative;
    display: block;
    z-index: 15;
}
.itemLink::before{
    content: '';
    position: absolute;
    width: 23px;
    height: 3px;
    background-color: #1E4FCD;
    left: 0;
    bottom: 1px;
}
.socials{
    display: flex;
    margin-right: 38px;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
}
.socialsWhite .social svg path{
    transition: .3s all;
    fill: #fff;
}
.contact{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    z-index: 15;
}
.contactNumber{
    color: #1A1A1A;
}
.burger{
    height: 21px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    z-index: 10;
    position: relative;
}
.burgerElement{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #1E4FCD;
    border-radius: 2px;
    transition: .3s all;
}
.burgerElementActive{
    background-color: #fff;
    position: absolute;
}
.burgerElementActive:nth-child(2){
    display: none;
}
.burgerElementActive:nth-child(1){
    transform: rotate(45deg);
    top: 7px;
}
.burgerElementActive:nth-child(3){
    transform: rotate(-45deg);
    top: 7px;
}
.menu{
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    left: 0;
    top: -150%;
    z-index: 500;
    transition: .3s top;
    overflow-y: auto;
    height: 400px;
}
.menuInner{
    padding: 78px 0 40px;
    width: 100vw;
    background-color: #1E4FCD;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: scroll;
}
.menuActive{
    top: 0;
}
.menuWrapper{
    display: flex;
    flex-direction: column;
}
.language{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 37px;
    position: relative;
    margin-left: 14px;
}

.language::before{
    content: '';
    width: 9px;
    height: 10px;
    background: url("../../images/rightArrowWhite.svg")center center/cover no-repeat;
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
}
.link{
    display: block;
    color: #fff;


}
.sites{
    margin-left: 15px;
    display: flex;
    align-items: center;
    column-gap: 59px;
    margin-bottom: 20px;
    position: relative;
}
.sites::before{
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    top: 50%;
    left: -14px;
    transform: translateY(-50%);
    position: absolute;
}
.left .linkSites{
    position: relative;
}
.left .linkSites::before, .linkSites::after{
    content: '';
    width: 42px;
    height: 21px;
    position: absolute;
}
.left .linkSites::before{
    background: url("../../images/topBigLine.svg")center center/cover no-repeat;
    right: -50px;
    top: -13px;
}
.left .linkSites::after{
    background: url("../../images/bottomBigLine.svg")center center/cover no-repeat;
    right: -50px;
    bottom: -13px;
}
.right{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.linkSites{
    color: #ffffff;
}
.link+.link{
    margin-top: 20px;
}

/* adaptive */
@media screen and (max-width: 750px){
    .list{
        margin-right: 10px;
    }
    .logoImg{
        margin-right: 15px;
    }
    .socials{
        margin-right: 15px;
    }
}

@media screen and (max-width: 629px){
    .header{
        padding: 10px 0;
    }
    .menu{
        height: 100vh;
    }
    .number{
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
    }
    .mail{
        color: #FFFFFF;
        text-align: center;
    }
    .socials{
        margin: 0;
        max-width: 100%;
        column-gap: 48px;
        justify-content: center;
    }
    .contacts{
        margin: 55px 0 30px;

    }
}