.includes{
    background-color: #1A1A1A;
    padding: 65px 0 80px;
    background-image: url('../../../images/bg.png');
    background-position: center -100px;
    background-repeat: repeat;
}
.title{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 106px;
    color: #FFFFFF;
}
.descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 678px;
    margin-bottom: 46px;
}
.gridWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(595px, 1fr));
    grid-template-rows: 113px 113px 113px;
    grid-auto-rows: 113px;
    grid-gap: 30px;
}
.gridItem:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
.gridItem:last-child{
    grid-column: 1/3;
    grid-row: 3/4;
}
.white{
    background: #fff;
}
.blue{
    background-color: #1E4FCD;
}
.gridItem{
    padding: 14px 0 0 33px;
    overflow: hidden;
    position: relative;
}
.subtitle{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.subtitleWhite{
    color: #FFFFFF;
}
.subtitleBlack{
    color: #1A1A1A;
}
.gridDescr{
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    max-width: 428px;
}
.gridDescrLong{
    max-width: 560px;
}
.gridDescrWhite{
    color: #fff;
}
.gridDescrBlack{
    color: #1a1a1a;
}

.search{
    display: block;
    position: absolute;
    right: -13px;
    top: 24px;
}
.percent{
    display: block;
    position: absolute;
    right: -3px;
    bottom: -7px;
}
.arrow{
    display: block;
    position: absolute;
    right: 69px;
    bottom: -71px;
}
.crowd{
    display: block;
    position: absolute;
    right: 23px;
    bottom: -9px;
}

/*ADAPTIVE*/

@media (max-width: 1265px) {
    .gridWrapper{
        grid-template-columns: 1fr;
    }
    .gridItem:first-child{
        grid-column: auto;
        grid-row: auto;
    }
    .gridItem:last-child{
        grid-column: auto;
        grid-row: auto;
    }
    .crowd{
        right: 180px;
    }
    .percent{
        right: 200px;
    }
    .search{
        right: -220px;
    }
}

@media (max-width: 991px) {
    .title{
        font-size: 80px;
        line-height: 96px;
    }
    .descr{
        line-height: 150%;
        max-width: 651px;
    }
    .gridDescr{
        line-height: 150%;
    }
    .gridWrapper{
        grid-template-columns: 1fr;
    }
    .gridItem:first-child{
        grid-column: auto;
        grid-row: auto;
    }
    .gridItem:last-child{
        grid-column: auto;
        grid-row: auto;
    }
    .crowd{
        right: 32px;
    }
    .percent{
        right: 49px;
    }
    .search{
        right: -507px;
    }
    .arrow{
        right: 12px;
        bottom: -53px;
        width: 327px;
    }
}

@media (max-width: 750px) {
    .title{
        font-size: 50px;
        line-height: 59px;
    }
    .descr{
        font-size: 14px;
        line-height: 150%;
        max-width: 350px;
    }
    .gridWrapper{
        grid-template-rows: 165px;
        grid-auto-rows: 165px;
    }
    .subtitle{
        font-size: 22px;
        line-height: 27px;
    }
    .gridItem{
        padding: 12px;
    }
    .gridDescr{
        font-size: 14px;
    }
    .search{
        width: 561px;
        right: -312px;
        top: unset;
        bottom: 8px;
    }
    .percent{
        right: 33px;
        bottom: -10px;
        width: 121px;
    }
    .crowd{
        width: 145px;
        right: 22px;
        bottom: -9px;
    }
    .arrow{
        width: 345px;
        right: 16px;
        bottom: -47px;
    }
}

@media (max-width: 560px) {
    .search{
        width: 461px;
        right: -262px;
        top: unset;
        bottom: 8px;
    }
    .percent{
        right: 33px;
        bottom: -10px;
        width: 61px;
    }
    .crowd{
        width: 75px;
        right: 22px;
        bottom: -9px;
    }
    .arrow{
        width: 245px;
        right: 16px;
        bottom: -47px;
    }
}

@media (max-width: 475px) {
    .search{
        left: 141px;
    }
}