body{
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Russo One';
  font-weight: 400;
}
button{
  cursor: pointer;
}


.container{
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
}